<div class="semanaHeader">
    <div class="weekSelectorWrapper">
        <div class="weekSelector">
            <button mat-mini-fab (click)="retrocederSemana()">
                <mat-icon>arrow_back_ios_new</mat-icon>
            </button>
    
            <div class="semanaContainer">
                <div class="semana">Semana {{fechaSeleccionada | date:'w' }}</div>
                <div class="periodo">{{diasEnSemana[0] | date:'dd MMM' }}  -  {{diasEnSemana[6] | date:'dd MMM' }}</div>
            </div>
    
            
            <button mat-mini-fab (click)="avanzarSemana()">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>
        </div>
        <button *ngIf="fechaAlterada === true" mat-icon-button (click)="regresarSemanaActual()">
            <mat-icon>
                history
            </mat-icon>
        </button>
    </div>

    <mat-form-field class="colaboradorSelect" appearance="outline">
        <mat-label>colaborador</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
</div>

<div class="colaboradorWrapper">

    <div class="openLabel">
        <div class="linea"></div>
        <div class="nombreCol">Nombre Colaborador</div>
        <div class="botonColapse">
            <mat-icon>expand_more</mat-icon>
        </div>
    </div>

    <app-dia-semana [diasEnSemana]='diasEnSemana' [diaActual]='diaActual'></app-dia-semana>

</div>
